%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="/tmp/monk_large.jpg")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span Average Rating: #{average_rating(@video)}
        %p= @video.description
        .actions
          =link_to do
            %button.btn.btn-primary Watch Now
          =link_to queue_items_path(video_id: @video.id), method: :post do
            %button.btn.btn-primary Add To Queue

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      =bootstrap_form_for @review, url: reviews_path do |f| 
        =f.text_area :description, label: "Rate this video"
        =f.select :rating, [5,4,3,2,1].map{|num| [pluralize(num, "Star"),num]}
        =f.submit "Submit"
      %header
        %h3 User Reviews  (#{@video.reviews.count})
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating} / 5
                =link_to "by #{review.creator.name}", review.creator.name
              .col-sm-8
                %p #{review.description}
